@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Inter";
}

.container-layout {
  @apply  lg:px-40 py-4
}

.btn-default {
  @apply bg-gradient-to-b from-primary from-25% to-secondary text-white w-44 text-center h-10 rounded-full 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* CAROUSEL */

.shop-detail {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 80px;
}

.carousel {
  @apply flex overflow-hidden space-x-4 
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  
}

.carousel-slide {
  display: flex;
  width: 400%;
  
}

.carousel-slide img {
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
}


/* WhatsApp Button */
.whatsapp-button {
  position: fixed;
  bottom: 5rem;
  /* Ajuste conforme necessário */
  right: 5rem;
  /* Ajuste conforme necessário */
  animation: bounce 1s infinite;
  /* Adiciona a animação */
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
    /* Sobe 10px */
  }

  60% {
    transform: translateY(-5px);
    /* Desce um pouco */
  }
}
